# Tutorial for the Cross Verification of Protein Information

In [1]:
from dbinspector.parse import parse_all
from dbinspector.compare import compare_entries, summary_statistics

## Download and Parse Data:

In [2]:
parse_all()

## Compare Information Across Databases About Your Protein-of-Interest:

A single identifier should be given.

This can be done with a UniProt ID:

In [3]:
compare_entries(uniprot_id='Q9UIV3')

,UniProt entry 1,RefSeq entry 1
symbol,"[TNF, TNFA, TNFSF2]",[TNF]
UniProt ID,Q9UIV3,Q5STB3
RefSeq ID,[NP_000585.2],[NP_000585.2]
sequence,MSTESMIRDVELAEEALPKKTGGPQGSRRCLFLSLFSFLIVAGATT...,MSTESMIRDVELAEEALPKKTGGPQGSRRCLFLSLFSFLIVAGATT...
sequence matches,[RefSeq entry 1],[UniProt entry 1]
sequence length,233,233

A RefSeq ID:

In [4]:
compare_entries(refseq_id='NP_000537.3')

,No UniProt entry,RefSeq entry 1
symbol,[],[TP53]
UniProt ID,[],Q53GA5
RefSeq ID,[],[NP_000537.3]
sequence,[],MEEPQSDPSVEPPLSQETFSDLWKLLPENNVLSPLPSQAMDDLMLS...
sequence matches,None,None
sequence length,0,393

Or a gene symbol:

In [5]:
compare_entries(symbol='BRCA2')

,UniProt entry 1,RefSeq entry 1
symbol,"[BRCA2, FACD, FANCD1]",[BRCA2]
UniProt ID,Q5TBJ7,P51587
RefSeq ID,[NP_000050.2],NP_000050.3
sequence,MPIGSKERPTFFEIFKTRCNKADLGPISLNWFEELSSEAPPYNSEP...,MPIGSKERPTFFEIFKTRCNKADLGPISLNWFEELSSEAPPYNSEP...
sequence matches,None,None
sequence length,3418,3418

## Determining how much the databases align overall:

In [6]:
summary_statistics()

,Number of matches,Matching UniProt entries [%],Matching RefSeq entries [%]
Symbol,16293,32.27%,26.66%
RefSeq ID,39353,89.33%,64.38%
UniProt ID,1802,7.07%,2.95%
Sequence,22102,85.51%,36.16%
Sequence length,22531,86.66%,36.86%